In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('SuperStoreUS-2015.xlsx', sheet_name = None)

In [3]:
df

{'Orders':       Row ID Order Priority  Discount  Unit Price  Shipping Cost  Customer ID  \
 0      20847           High      0.01        2.84           0.93            3
 1      20228  Not Specified      0.02      500.98          26.00            5
 2      21776       Critical      0.06        9.48           7.29           11
 3      24844         Medium      0.09       78.69          19.99           14
 4      24846         Medium      0.08        3.28           2.31           14
 ...      ...            ...       ...         ...            ...          ...
 1947   19842           High      0.01       10.90           7.46         3397
 1948   19843           High      0.10        7.99           5.03         3397
 1949   26208  Not Specified      0.08       11.97           5.81         3399
 1950   24911         Medium      0.10        9.38           4.93         3400
 1951   25914           High      0.10      105.98          13.99         3403

           Customer Name       Ship Mode Customer Segment Product Category  \
 0         Bonnie Potter     Express Air        Corporate  Office Supplies
 1        Ronnie Proctor  Delivery Truck      Home Office        Furniture
 2         Marcus Dunlap     Regular Air      Home Office        Furniture
 3     Gwendolyn F Tyson     Regular Air   Small Business        Furniture
 4     Gwendolyn F Tyson     Regular Air   Small Business  Office Supplies
 ...                 ...             ...              ...              ...
 1947        Andrea Shaw     Regular Air   Small Business  Office Supplies
 1948        Andrea Shaw     Regular Air   Small Business       Technology
 1949        Marvin Reid     Regular Air   Small Business  Office Supplies
 1950      Florence Gold     Express Air   Small Business        Furniture
 1951      Tammy Buckley     Express Air         Consumer        Furniture

       ...   Region State or Province         City  Postal Code Order Date  \
 0     ...     West        Washington    Anacortes        98221 2015-01-07
 1     ...     West        California  San Gabriel        91776 2015-06-13
 2     ...     East        New Jersey      Roselle         7203 2015-02-15
 3     ...  Central         Minnesota   Prior Lake        55372 2015-05-12
 4     ...  Central         Minnesota   Prior Lake        55372 2015-05-12
 ...   ...      ...               ...          ...          ...        ...
 1947  ...  Central          Illinois     Danville        61832 2015-03-11
 1948  ...  Central          Illinois     Danville        61832 2015-03-11
 1949  ...  Central          Illinois  Des Plaines        60016 2015-03-29
 1950  ...     East     West Virginia     Fairmont        26554 2015-04-04
 1951  ...     West           Wyoming     Cheyenne        82001 2015-02-08

       Ship Date     Profit Quantity ordered new    Sales Order ID
 0    2015-01-08     4.5600                    4    13.01    88522
 1    2015-06-15  4390.3665                   12  6362.85    90193
 2    2015-02-17   -53.8096                   22   211.15    90192
 3    2015-05-14   803.4705                   16  1164.45    86838
 4    2015-05-13   -24.0300                    7    22.23    86838
 ...         ...        ...                  ...      ...      ...
 1947 2015-03-12  -116.7600                   18   207.31    87536
 1948 2015-03-12  -160.9520                   22   143.12    87536
 1949 2015-03-31   -41.8700                    5    59.98    87534
 1950 2015-04-04   -24.7104                   15   135.78    87537
 1951 2015-02-11   349.4850                    5   506.50    87530

 [1952 rows x 25 columns],
 'Returns':       Order ID    Status
 0           65  Returned
 1          612  Returned
 2          614  Returned
 3          678  Returned
 4          710  Returned
 ...        ...       ...
 1629    182681  Returned
 1630    182683  Returned
 1631    182750  Returned
 1632    182781  Returned
 1633    182906  Returned

 [1634 rows x 2 columns],
 'Users':     Region  Manager
 0  Central    Chris
 1     East     Erin
 2    South      Sam
 3     West  William}

In [4]:
list(df.keys())

['Orders', 'Returns', 'Users']

In [5]:
d1 = df["Orders"]
d1.head(20)

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2015-01-07,2015-01-08,4.5600,4,13.01,88522
1,20228,Not Specified,0.02,500.98,26.00,5,Ronnie Proctor,Delivery Truck,Home Office,Furniture,...,West,California,San Gabriel,91776,2015-06-13,2015-06-15,4390.3665,12,6362.85,90193
2,21776,Critical,0.06,9.48,7.29,11,Marcus Dunlap,Regular Air,Home Office,Furniture,...,East,New Jersey,Roselle,7203,2015-02-15,2015-02-17,-53.8096,22,211.15,90192
3,24844,Medium,0.09,78.69,19.99,14,Gwendolyn F Tyson,Regular Air,Small Business,Furniture,...,Central,Minnesota,Prior Lake,55372,2015-05-12,2015-05-14,803.4705,16,1164.45,86838
4,24846,Medium,0.08,3.28,2.31,14,Gwendolyn F Tyson,Regular Air,Small Business,Office Supplies,...,Central,Minnesota,Prior Lake,55372,2015-05-12,2015-05-13,-24.0300,7,22.23,86838
5,24847,Medium,0.05,3.28,4.20,14,Gwendolyn F Tyson,Regular Air,Small Business,Office Supplies,...,Central,Minnesota,Prior Lake,55372,2015-05-12,2015-05-13,-37.0300,4,13.99,86838
6,24848,Medium,0.05,3.58,1.63,14,Gwendolyn F Tyson,Regular Air,Small Business,Office Supplies,...,Central,Minnesota,Prior Lake,55372,2015-05-12,2015-05-13,-0.7100,4,14.26,86838
7,18181,Critical,0.00,4.42,4.99,15,Timothy Reese,Regular Air,Small Business,Office Supplies,...,East,New York,Smithtown,11787,2015-04-08,2015-04-09,-59.8200,7,33.47,86837
8,20925,Medium,0.01,35.94,6.66,15,Timothy Reese,Regular Air,Small Business,Office Supplies,...,East,New York,Smithtown,11787,2015-05-28,2015-05-28,261.8757,10,379.53,86839
9,26267,High,0.04,2.98,1.58,16,Sarah Ramsey,Regular Air,Small Business,Office Supplies,...,East,New York,Syracuse,13210,2015-02-12,2015-02-15,2.6300,6,18.80,86836
10,26268,High,0.05,115.99,2.50,16,Sarah Ramsey,Regular Air,Small Business,Technology,...,East,New York,Syracuse,13210,2015-02-12,2015-02-14,652.7331,10,945.99,86836
11,23890,High,0.05,26.48,6.93,18,Laurie Hanna,Regular Air,Small Business,Furniture,...,West,Montana,Helena,59601,2015-05-15,2015-05-16,314.4813,17,455.77,90031
12,24063,Not Specified,0.07,12.99,9.44,19,Jim Rodgers,Regular Air,Small Business,Technology,...,West,Montana,Missoula,59801,2015-05-21,2015-05-23,-114.6399,18,231.79,90032
13,5890,High,0.05,26.48,6.93,21,Tony Wilkins Winters,Regular Air,Small Business,Furniture,...,East,New York,New York City,10012,2015-05-15,2015-05-16,384.3800,70,1876.69,41793
14,6062,Not Specified,0.08,5.00,3.39,21,Tony Wilkins Winters,Regular Air,Small Business,Office Supplies,...,East,New York,New York City,10012,2015-05-21,2015-05-22,-17.4900,58,293.06,42949
15,6063,Not Specified,0.07,12.99,9.44,21,Tony Wilkins Winters,Regular Air,Small Business,Technology,...,East,New York,New York City,10012,2015-05-21,2015-05-23,-114.6399,71,914.29,42949
16,20631,High,0.06,55.48,14.30,24,Edna Thomas,Regular Air,Corporate,Office Supplies,...,West,California,Laguna Niguel,92677,2015-01-28,2015-01-29,-28.2968,1,67.49,87651
17,20632,High,0.02,1.68,1.57,24,Edna Thomas,Regular Air,Corporate,Office Supplies,...,West,California,Laguna Niguel,92677,2015-01-28,2015-01-30,-5.3072,1,2.25,87651
18,23967,Not Specified,0.04,4.14,6.60,27,Guy Gallagher,Regular Air,Corporate,Furniture,...,West,California,Lakewood,90712,2015-05-02,2015-05-04,8.8940,12,54.78,87652
19,23509,High,0.08,34.99,7.73,32,Matthew Berman,Regular Air,Corporate,Office Supplies,...,West,Oregon,Grants Pass,97526,2015-02-22,2015-02-23,144.6900,13,424.68,89199

In [6]:
print(d1.shape)
d1.info()

(1952, 25)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1952 entries, 0 to 1951
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Row ID                1952 non-null   int64
 1   Order Priority        1952 non-null   object
 2   Discount              1952 non-null   float64
 3   Unit Price            1952 non-null   float64
 4   Shipping Cost         1952 non-null   float64
 5   Customer ID           1952 non-null   int64
 6   Customer Name         1952 non-null   object
 7   Ship Mode             1952 non-null   object
 8   Customer Segment      1952 non-null   object
 9   Product Category      1952 non-null   object
 10  Product Sub-Category  1952 non-null   object
 11  Product Container     1952 non-null   object
 12  Product Name          1952 non-null   object
 13  Product Base Margin   1936 non-null   float64
 14  Country               1952 non-null   object
 15  Region                1952 non-null   object
 16  State or Province     1952 non-null   object
 17  City                  1952 non-null   object
 18  Postal Code           1952 non-null   int64
 19  Order Date            1952 non-null   datetime64[ns]
 20  Ship Date             1952 non-null   datetime64[ns]
 21  Profit                1952 non-null   float64
 22  Quantity ordered new  1952 non-null   int64
 23  Sales                 1952 non-null   float64
 24  Order ID              1952 non-null   int64
dtypes: datetime64[ns](2), float64(6), int64(5), object(12)
memory usage: 381.4+ KB

In [7]:
d1[d1["Region"]=="Central"]

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
3,24844,Medium,0.09,78.69,19.99,14,Gwendolyn F Tyson,Regular Air,Small Business,Furniture,...,Central,Minnesota,Prior Lake,55372,2015-05-12,2015-05-14,803.47050,16,1164.45,86838
4,24846,Medium,0.08,3.28,2.31,14,Gwendolyn F Tyson,Regular Air,Small Business,Office Supplies,...,Central,Minnesota,Prior Lake,55372,2015-05-12,2015-05-13,-24.03000,7,22.23,86838
5,24847,Medium,0.05,3.28,4.20,14,Gwendolyn F Tyson,Regular Air,Small Business,Office Supplies,...,Central,Minnesota,Prior Lake,55372,2015-05-12,2015-05-13,-37.03000,4,13.99,86838
6,24848,Medium,0.05,3.58,1.63,14,Gwendolyn F Tyson,Regular Air,Small Business,Office Supplies,...,Central,Minnesota,Prior Lake,55372,2015-05-12,2015-05-13,-0.71000,4,14.26,86838
31,22890,High,0.02,5.98,5.15,62,Pam Gilbert,Regular Air,Corporate,Office Supplies,...,Central,Texas,Round Rock,78664,2015-05-09,2015-05-11,2.14000,3,22.85,87407
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1922,23887,Medium,0.03,4.98,4.95,3361,Oscar Kenney,Regular Air,Home Office,Office Supplies,...,Central,Wisconsin,West Bend,53095,2015-06-09,2015-06-11,-47.99525,19,95.00,91438
1946,20624,Low,0.00,1270.99,19.99,3397,Andrea Shaw,Regular Air,Small Business,Office Supplies,...,Central,Illinois,Danville,61832,2015-06-07,2015-06-09,6384.43890,7,9252.81,87535
1947,19842,High,0.01,10.90,7.46,3397,Andrea Shaw,Regular Air,Small Business,Office Supplies,...,Central,Illinois,Danville,61832,2015-03-11,2015-03-12,-116.76000,18,207.31,87536
1948,19843,High,0.10,7.99,5.03,3397,Andrea Shaw,Regular Air,Small Business,Technology,...,Central,Illinois,Danville,61832,2015-03-11,2015-03-12,-160.95200,22,143.12,87536
1949,26208,Not Specified,0.08,11.97,5.81,3399,Marvin Reid,Regular Air,Small Business,Office Supplies,...,Central,Illinois,Des Plaines,60016,2015-03-29,2015-03-31,-41.87000,5,59.98,87534

In [8]:
d2 = df["Returns"]
d2.head(20)

    Order ID    Status
0         65  Returned
1        612  Returned
2        614  Returned
3        678  Returned
4        710  Returned
5        740  Returned
6        775  Returned
7        833  Returned
8        902  Returned
9       3300  Returned
10      3456  Returned
11      3525  Returned
12      3589  Returned
13      3687  Returned
14      3777  Returned
15      3783  Returned
16      4006  Returned
17      4037  Returned
18      4230  Returned
19      4261  Returned

In [9]:
print(d2.shape)
d2.info()

(1634, 2)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1634 entries, 0 to 1633
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Order ID  1634 non-null   int64
 1   Status    1634 non-null   object
dtypes: int64(1), object(1)
memory usage: 25.7+ KB

In [10]:
d2["Status"].unique()

array(['Returned'], dtype=object)

In [11]:
d3 = df["Users"]
d3.head()

    Region  Manager
0  Central    Chris
1     East     Erin
2    South      Sam
3     West  William

In [12]:
print(d3.shape)
d3.info()

(4, 2)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Region   4 non-null      object
 1   Manager  4 non-null      object
dtypes: object(2)
memory usage: 192.0+ bytes

In [13]:
result = pd.merge(d1, d3, on=["Region", "Region"])

In [14]:
result

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Manager
0,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2015-01-07,2015-01-08,4.5600,4,13.01,88522,William
1,20228,Not Specified,0.02,500.98,26.00,5,Ronnie Proctor,Delivery Truck,Home Office,Furniture,...,California,San Gabriel,91776,2015-06-13,2015-06-15,4390.3665,12,6362.85,90193,William
2,23890,High,0.05,26.48,6.93,18,Laurie Hanna,Regular Air,Small Business,Furniture,...,Montana,Helena,59601,2015-05-15,2015-05-16,314.4813,17,455.77,90031,William
3,24063,Not Specified,0.07,12.99,9.44,19,Jim Rodgers,Regular Air,Small Business,Technology,...,Montana,Missoula,59801,2015-05-21,2015-05-23,-114.6399,18,231.79,90032,William
4,20631,High,0.06,55.48,14.30,24,Edna Thomas,Regular Air,Corporate,Office Supplies,...,California,Laguna Niguel,92677,2015-01-28,2015-01-29,-28.2968,1,67.49,87651,William
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1947,23181,Critical,0.03,315.98,19.99,3380,Eva Decker,Regular Air,Home Office,Office Supplies,...,Georgia,La Grange,30240,2015-04-20,2015-04-22,-4.4800,18,5572.18,88838,Sam
1948,23182,Critical,0.09,276.20,24.49,3380,Eva Decker,Regular Air,Home Office,Furniture,...,Georgia,La Grange,30240,2015-04-20,2015-04-21,3193.2840,11,2941.42,88838,Sam
1949,23183,Critical,0.03,63.94,14.48,3380,Eva Decker,Regular Air,Home Office,Furniture,...,Georgia,La Grange,30240,2015-04-20,2015-04-21,43.6917,8,522.46,88838,Sam
1950,24161,Not Specified,0.05,11.97,5.81,3381,Christopher Norton Patterson,Regular Air,Corporate,Office Supplies,...,Georgia,Macon,31204,2015-03-23,2015-03-25,349.0593,2,25.31,88836,Sam
1951,25841,Medium,0.02,28.53,1.49,3381,Christopher Norton Patterson,Regular Air,Home Office,Office Supplies,...,Georgia,Macon,31204,2015-04-29,2015-04-29,1.9920,18,513.33,88840,Sam

In [15]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1952 entries, 0 to 1951
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Row ID                1952 non-null   int64
 1   Order Priority        1952 non-null   object
 2   Discount              1952 non-null   float64
 3   Unit Price            1952 non-null   float64
 4   Shipping Cost         1952 non-null   float64
 5   Customer ID           1952 non-null   int64
 6   Customer Name         1952 non-null   object
 7   Ship Mode             1952 non-null   object
 8   Customer Segment      1952 non-null   object
 9   Product Category      1952 non-null   object
 10  Product Sub-Category  1952 non-null   object
 11  Product Container     1952 non-null   object
 12  Product Name          1952 non-null   object
 13  Product Base Margin   1936 non-null   float64
 14  Country               1952 non-null   object
 15  Region                1952 non-null   object
 16  State or Province     1952 non-null   object
 17  City                  1952 non-null   object
 18  Postal Code           1952 non-null   int64
 19  Order Date            1952 non-null   datetime64[ns]
 20  Ship Date             1952 non-null   datetime64[ns]
 21  Profit                1952 non-null   float64
 22  Quantity ordered new  1952 non-null   int64
 23  Sales                 1952 non-null   float64
 24  Order ID              1952 non-null   int64
 25  Manager               1952 non-null   object
dtypes: datetime64[ns](2), float64(6), int64(5), object(13)
memory usage: 411.8+ KB

In [16]:
#result.to_excel("dump.xlsx")

In [17]:
pd.read_excel("dump.xlsx")

,Unnamed: 0,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,...,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Manager
0,0,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,...,Washington,Anacortes,98221,2015-01-07,2015-01-08,4.5600,4,13.01,88522,William
1,1,20228,Not Specified,0.02,500.98,26.00,5,Ronnie Proctor,Delivery Truck,Home Office,...,California,San Gabriel,91776,2015-06-13,2015-06-15,4390.3665,12,6362.85,90193,William
2,2,23890,High,0.05,26.48,6.93,18,Laurie Hanna,Regular Air,Small Business,...,Montana,Helena,59601,2015-05-15,2015-05-16,314.4813,17,455.77,90031,William
3,3,24063,Not Specified,0.07,12.99,9.44,19,Jim Rodgers,Regular Air,Small Business,...,Montana,Missoula,59801,2015-05-21,2015-05-23,-114.6399,18,231.79,90032,William
4,4,20631,High,0.06,55.48,14.30,24,Edna Thomas,Regular Air,Corporate,...,California,Laguna Niguel,92677,2015-01-28,2015-01-29,-28.2968,1,67.49,87651,William
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1947,1947,23181,Critical,0.03,315.98,19.99,3380,Eva Decker,Regular Air,Home Office,...,Georgia,La Grange,30240,2015-04-20,2015-04-22,-4.4800,18,5572.18,88838,Sam
1948,1948,23182,Critical,0.09,276.20,24.49,3380,Eva Decker,Regular Air,Home Office,...,Georgia,La Grange,30240,2015-04-20,2015-04-21,3193.2840,11,2941.42,88838,Sam
1949,1949,23183,Critical,0.03,63.94,14.48,3380,Eva Decker,Regular Air,Home Office,...,Georgia,La Grange,30240,2015-04-20,2015-04-21,43.6917,8,522.46,88838,Sam
1950,1950,24161,Not Specified,0.05,11.97,5.81,3381,Christopher Norton Patterson,Regular Air,Corporate,...,Georgia,Macon,31204,2015-03-23,2015-03-25,349.0593,2,25.31,88836,Sam
1951,1951,25841,Medium,0.02,28.53,1.49,3381,Christopher Norton Patterson,Regular Air,Home Office,...,Georgia,Macon,31204,2015-04-29,2015-04-29,1.9920,18,513.33,88840,Sam

In [18]:
result.corr()

,Row ID,Discount,Unit Price,Shipping Cost,Customer ID,Product Base Margin,Postal Code,Profit,Quantity ordered new,Sales,Order ID
Row ID,1.000000,0.018215,-0.004427,-0.016027,0.064071,0.000137,0.033578,-0.038468,-0.568939,-0.258827,0.918497
Discount,0.018215,1.000000,-0.008202,0.039908,0.014534,0.018656,-0.025247,-0.061821,-0.009398,-0.030287,0.016719
Unit Price,-0.004427,-0.008202,1.000000,0.198793,-0.008717,0.029086,0.016086,-0.182067,-0.072472,0.443509,0.003292
Shipping Cost,-0.016027,0.039908,0.198793,1.000000,-0.016805,0.361952,-0.033903,0.002177,-0.009735,0.322133,-0.014691
Customer ID,0.064071,0.014534,-0.008717,-0.016805,1.000000,-0.033060,-0.096491,0.008852,-0.027582,-0.015412,0.069118
Product Base Margin,0.000137,0.018656,0.029086,0.361952,-0.033060,1.000000,0.002925,-0.059523,0.002578,0.105838,0.009389
Postal Code,0.033578,-0.025247,0.016086,-0.033903,-0.096491,0.002925,1.000000,0.033033,-0.015628,-0.019699,0.052141
Profit,-0.038468,-0.061821,-0.182067,0.002177,0.008852,-0.059523,0.033033,1.000000,0.118363,0.364258,-0.031008
Quantity ordered new,-0.568939,-0.009398,-0.072472,-0.009735,-0.027582,0.002578,-0.015628,0.118363,1.000000,0.303099,-0.589746
Sales,-0.258827,-0.030287,0.443509,0.322133,-0.015412,0.105838,-0.019699,0.364258,0.303099,1.000000,-0.270939
Order ID,0.918497,0.016719,0.003292,-0.014691,0.069118,0.009389,0.052141,-0.031008,-0.589746,-0.270939,1.000000

In [19]:
result.cov()

,Row ID,Discount,Unit Price,Shipping Cost,Customer ID,Product Base Margin,Postal Code,Profit,Quantity ordered new,Sales,Order ID
Row ID,3.549295e+07,3.405028,-10377.341902,-1662.840953,3.783064e+05,0.111795,5.873912e+06,-2.615198e+05,-47017.787398,-3.947334e+06,1.042001e+08
Discount,3.405028e+00,0.000985,-0.101272,0.021807,4.519698e-01,0.000080,-2.326136e+01,-2.213585e+00,-0.004091,-2.432777e+00,9.990091e+00
Unit Price,-1.037734e+04,-0.101272,154827.534308,1362.195244,-3.399539e+03,1.573953,1.858577e+05,-8.174937e+04,-395.566035,4.467346e+05,2.466958e+04
Shipping Cost,-1.662841e+03,0.021807,1362.195244,303.269387,-2.900391e+02,0.857693,-1.733590e+04,4.326944e+01,-2.351589,1.436060e+04,-4.871782e+03
Customer ID,3.783064e+05,0.451970,-3399.538743,-290.039124,9.822356e+05,-4.487987,-2.807962e+06,1.001145e+04,-379.188792,-3.910055e+04,1.304422e+06
Product Base Margin,1.117946e-01,0.000080,1.573953,0.857693,-4.487987e+00,0.018784,1.176597e+01,-9.270307e+00,0.004916,3.712493e+01,2.454632e+01
Postal Code,5.873912e+06,-23.261364,185857.674208,-17335.898146,-2.807962e+06,11.765973,8.621757e+08,1.106815e+06,-6365.411019,-1.480666e+06,2.915381e+07
Profit,-2.615198e+05,-2.213585,-81749.374525,43.269440,1.001145e+04,-9.270307,1.106815e+06,1.302137e+06,1873.567954,1.064046e+06,-6.737833e+05
Quantity ordered new,-4.701779e+04,-0.004091,-395.566035,-2.351589,-3.791888e+02,0.004916,-6.365411e+03,1.873568e+03,192.420310,1.076301e+04,-1.557794e+05
Sales,-3.947334e+06,-2.432777,446734.613007,14360.599351,-3.910055e+04,37.124932,-1.480666e+06,1.064046e+06,10763.007045,6.553089e+06,-1.320727e+07
Order ID,1.042001e+08,9.990091,24669.582345,-4871.782078,1.304422e+06,24.546320,2.915381e+07,-6.737833e+05,-155779.365038,-1.320727e+07,3.626090e+08

In [44]:
fdf = result.copy()

In [45]:
fdf.columns

Index(['Row ID', 'Order Priority', 'Discount', 'Unit Price', 'Shipping Cost',
       'Customer ID', 'Customer Name', 'Ship Mode', 'Customer Segment',
       'Product Category', 'Product Sub-Category', 'Product Container',
       'Product Name', 'Product Base Margin', 'Country', 'Region',
       'State or Province', 'City', 'Postal Code', 'Order Date', 'Ship Date',
       'Profit', 'Quantity ordered new', 'Sales', 'Order ID', 'Manager'],
      dtype='object')

In [22]:
len(fdf['Sales'].unique())

1922

In [46]:
fdf= fdf.drop(["Row ID", "Customer ID" , "Postal Code", "Order ID", "Order ID","Customer ID", \
          'Product Name', "Customer Name", 'Postal Code', "Country"], axis =1
        )

In [47]:
fdf.columns

Index(['Order Priority', 'Discount', 'Unit Price', 'Shipping Cost',
       'Ship Mode', 'Customer Segment', 'Product Category',
       'Product Sub-Category', 'Product Container', 'Product Base Margin',
       'Region', 'State or Province', 'City', 'Order Date', 'Ship Date',
       'Profit', 'Quantity ordered new', 'Sales', 'Manager'],
      dtype='object')

In [48]:
fdf.head(10)

,Order Priority,Discount,Unit Price,Shipping Cost,Ship Mode,Customer Segment,Product Category,Product Sub-Category,Product Container,Product Base Margin,Region,State or Province,City,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Manager
0,High,0.01,2.84,0.93,Express Air,Corporate,Office Supplies,Pens & Art Supplies,Wrap Bag,0.54,West,Washington,Anacortes,2015-01-07,2015-01-08,4.5600,4,13.01,William
1,Not Specified,0.02,500.98,26.00,Delivery Truck,Home Office,Furniture,Chairs & Chairmats,Jumbo Drum,0.60,West,California,San Gabriel,2015-06-13,2015-06-15,4390.3665,12,6362.85,William
2,High,0.05,26.48,6.93,Regular Air,Small Business,Furniture,Office Furnishings,Small Box,0.49,West,Montana,Helena,2015-05-15,2015-05-16,314.4813,17,455.77,William
3,Not Specified,0.07,12.99,9.44,Regular Air,Small Business,Technology,Office Machines,Medium Box,0.39,West,Montana,Missoula,2015-05-21,2015-05-23,-114.6399,18,231.79,William
4,High,0.06,55.48,14.30,Regular Air,Corporate,Office Supplies,Paper,Small Box,0.37,West,California,Laguna Niguel,2015-01-28,2015-01-29,-28.2968,1,67.49,William
5,High,0.02,1.68,1.57,Regular Air,Corporate,Office Supplies,Pens & Art Supplies,Wrap Bag,0.59,West,California,Laguna Niguel,2015-01-28,2015-01-30,-5.3072,1,2.25,William
6,Not Specified,0.04,4.14,6.60,Regular Air,Corporate,Furniture,Office Furnishings,Small Box,0.49,West,California,Lakewood,2015-05-02,2015-05-04,8.8940,12,54.78,William
7,High,0.08,34.99,7.73,Regular Air,Corporate,Office Supplies,Pens & Art Supplies,Small Box,0.59,West,Oregon,Grants Pass,2015-02-22,2015-02-23,144.6900,13,424.68,William
8,High,0.01,17.98,8.51,Regular Air,Corporate,Technology,Office Machines,Medium Box,0.40,West,Oregon,Grants Pass,2015-03-27,2015-03-28,-35.8788,2,40.17,William
9,Medium,0.09,125.99,7.69,Express Air,Corporate,Technology,Telephones and Communication,Small Box,0.59,West,Oregon,Grants Pass,2015-01-20,2015-01-22,209.9970,8,783.55,William

In [49]:
fdf.shape

(1952, 19)

In [50]:
len(fdf["City"].unique())

869

In [51]:
1952-869

1083

In [52]:
fdf[["Unit Price", "Shipping Cost", "Discount","Profit", "Quantity ordered new", "Sales", "Product Base Margin" ]]

,Unit Price,Shipping Cost,Discount,Profit,Quantity ordered new,Sales,Product Base Margin
0,2.84,0.93,0.01,4.5600,4,13.01,0.54
1,500.98,26.00,0.02,4390.3665,12,6362.85,0.60
2,26.48,6.93,0.05,314.4813,17,455.77,0.49
3,12.99,9.44,0.07,-114.6399,18,231.79,0.39
4,55.48,14.30,0.06,-28.2968,1,67.49,0.37
...,...,...,...,...,...,...,...
1947,315.98,19.99,0.03,-4.4800,18,5572.18,0.38
1948,276.20,24.49,0.09,3193.2840,11,2941.42,NaN
1949,63.94,14.48,0.03,43.6917,8,522.46,0.46
1950,11.97,5.81,0.05,349.0593,2,25.31,0.60
1951,28.53,1.49,0.02,1.9920,18,513.33,0.38

In [30]:
(455.77 - 314.4813)/26.48

5.335675981873112

In [31]:
13.01- ((2.84*4)-(2.84*0.01))

1.6784

In [32]:
# cp+pm*x = x
# 26.48+ 0.49*x = x
# 26.48 = 0.51x
455.77 + 314.4813

770.2512999999999

In [33]:
26.48/.51

51.92156862745098

In [34]:
(51.921*17)- (51.921*0.05)

880.06095

In [35]:
# Product margin= (selling price – cost of product) / selling price
# pm = (x-cp)/x
# pm*x =x-cp
# cp+pm*x = x

In [36]:
x = 1
x += 2
x

3

In [37]:
city = fdf["City"]

In [38]:
nd= {}

for i in city:
    if i in nd:
        nd[i] += 1
    else:
        nd[i] = 1

In [39]:
x = []
for i in nd:
    if nd.get(i) > 5:
        x.append([i, nd.get(i)])

In [40]:
def takeSecond(elem):
    return elem[1]
x.sort(reverse = True, key = takeSecond )
x

[['New York City', 47],
 ['Los Angeles', 44],
 ['Seattle', 21],
 ['Boston', 19],
 ['Washington', 15],
 ['Philadelphia', 12],
 ['Charlotte', 12],
 ['Chicago', 11],
 ['Sanford', 10],
 ['Miami', 10],
 ['Atlanta', 9],
 ['San Diego', 8],
 ['Columbus', 8],
 ['Prior Lake', 8],
 ['Hilton Head Island', 8],
 ['Twentynine Palms', 7],
 ['Auburn', 7],
 ['Newton', 7],
 ['Norfolk', 7],
 ['Greenville', 7],
 ['Redmond', 6],
 ['Aurora', 6],
 ['Burlington', 6],
 ['Troy', 6],
 ['Detroit', 6],
 ['Naperville', 6]]

## TOP 4 CITIES THAT PURCHASES

In [41]:
top4 = x[0:4]

# PURCAHSES WITH RESPECT TO REGION

In [42]:
pd.get_dummies(data = fdf, columns = ["Region"])

,Order Priority,Discount,Unit Price,Shipping Cost,Ship Mode,Product Category,Product Sub-Category,Product Container,Product Base Margin,State or Province,...,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Manager,Region_Central,Region_East,Region_South,Region_West
0,High,0.01,2.84,0.93,Express Air,Office Supplies,Pens & Art Supplies,Wrap Bag,0.54,Washington,...,2015-01-07,2015-01-08,4.5600,4,13.01,William,0,0,0,1
1,Not Specified,0.02,500.98,26.00,Delivery Truck,Furniture,Chairs & Chairmats,Jumbo Drum,0.60,California,...,2015-06-13,2015-06-15,4390.3665,12,6362.85,William,0,0,0,1
2,High,0.05,26.48,6.93,Regular Air,Furniture,Office Furnishings,Small Box,0.49,Montana,...,2015-05-15,2015-05-16,314.4813,17,455.77,William,0,0,0,1
3,Not Specified,0.07,12.99,9.44,Regular Air,Technology,Office Machines,Medium Box,0.39,Montana,...,2015-05-21,2015-05-23,-114.6399,18,231.79,William,0,0,0,1
4,High,0.06,55.48,14.30,Regular Air,Office Supplies,Paper,Small Box,0.37,California,...,2015-01-28,2015-01-29,-28.2968,1,67.49,William,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1947,Critical,0.03,315.98,19.99,Regular Air,Office Supplies,Binders and Binder Accessories,Small Box,0.38,Georgia,...,2015-04-20,2015-04-22,-4.4800,18,5572.18,Sam,0,0,1,0
1948,Critical,0.09,276.20,24.49,Regular Air,Furniture,Chairs & Chairmats,Large Box,NaN,Georgia,...,2015-04-20,2015-04-21,3193.2840,11,2941.42,Sam,0,0,1,0
1949,Critical,0.03,63.94,14.48,Regular Air,Furniture,Office Furnishings,Small Box,0.46,Georgia,...,2015-04-20,2015-04-21,43.6917,8,522.46,Sam,0,0,1,0
1950,Not Specified,0.05,11.97,5.81,Regular Air,Office Supplies,Pens & Art Supplies,Small Pack,0.60,Georgia,...,2015-03-23,2015-03-25,349.0593,2,25.31,Sam,0,0,1,0
1951,Medium,0.02,28.53,1.49,Regular Air,Office Supplies,Binders and Binder Accessories,Small Box,0.38,Georgia,...,2015-04-29,2015-04-29,1.9920,18,513.33,Sam,0,0,1,0

,Order Priority,Discount,Unit Price,Shipping Cost,Ship Mode,Customer Segment,Product Category,Product Sub-Category,Product Container,Product Base Margin,...,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Manager,Region_Central,Region_East,Region_South,Region_West
0,High,0.01,2.84,0.93,Express Air,Corporate,Office Supplies,Pens & Art Supplies,Wrap Bag,0.54,...,2015-01-07,2015-01-08,4.5600,4,13.01,William,0,0,0,1
1,Not Specified,0.02,500.98,26.00,Delivery Truck,Home Office,Furniture,Chairs & Chairmats,Jumbo Drum,0.60,...,2015-06-13,2015-06-15,4390.3665,12,6362.85,William,0,0,0,1
2,High,0.05,26.48,6.93,Regular Air,Small Business,Furniture,Office Furnishings,Small Box,0.49,...,2015-05-15,2015-05-16,314.4813,17,455.77,William,0,0,0,1
3,Not Specified,0.07,12.99,9.44,Regular Air,Small Business,Technology,Office Machines,Medium Box,0.39,...,2015-05-21,2015-05-23,-114.6399,18,231.79,William,0,0,0,1
4,High,0.06,55.48,14.30,Regular Air,Corporate,Office Supplies,Paper,Small Box,0.37,...,2015-01-28,2015-01-29,-28.2968,1,67.49,William,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1947,Critical,0.03,315.98,19.99,Regular Air,Home Office,Office Supplies,Binders and Binder Accessories,Small Box,0.38,...,2015-04-20,2015-04-22,-4.4800,18,5572.18,Sam,0,0,1,0
1948,Critical,0.09,276.20,24.49,Regular Air,Home Office,Furniture,Chairs & Chairmats,Large Box,NaN,...,2015-04-20,2015-04-21,3193.2840,11,2941.42,Sam,0,0,1,0
1949,Critical,0.03,63.94,14.48,Regular Air,Home Office,Furniture,Office Furnishings,Small Box,0.46,...,2015-04-20,2015-04-21,43.6917,8,522.46,Sam,0,0,1,0
1950,Not Specified,0.05,11.97,5.81,Regular Air,Corporate,Office Supplies,Pens & Art Supplies,Small Pack,0.60,...,2015-03-23,2015-03-25,349.0593,2,25.31,Sam,0,0,1,0
1951,Medium,0.02,28.53,1.49,Regular Air,Home Office,Office Supplies,Binders and Binder Accessories,Small Box,0.38,...,2015-04-29,2015-04-29,1.9920,18,513.33,Sam,0,0,1,0

# with respect to product category

In [57]:
fdf["Product Category"].unique()

array(['Office Supplies', 'Furniture', 'Technology'], dtype=object)

In [ ]:
#pd.get_dummies()